.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex: 1;
  padding-top: 116px; /* 72px header + 44px category nav */
}

.main {
  flex: 1;
  padding: 0 32px;
}
