.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex: 1;
  padding-top: 132px; /* 88px header + 44px category nav */
}

.main {
  flex: 1;
  padding: 0 48px;
}
